/* global */
:root {
  /* color */
  --color-yellow: #fae100;
  --color-brown: #3c1d1e;
  --color-lightblue: #b2c7d9;
  --color-white: #ffffff;
  --color-black: #0b0b0b;
  /* font-family */
  --font-poppins: "Poppins";
  /* font-weight */
  --weight-bold: 700;
  --weight-semibold: 600;
  --weight-regular: 400;
  /* border-radius */
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--color-lightblue);
  font-family: var(--font-poppins);
}

a {
  text-decoration: none;
  color: var(--color-brown);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.bubble__left {
  position: relative;
  width: 710px;
  height: 250px;
  padding: 40px;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.bubble__left:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 15px 20px 0;
  border-color: transparent #ffffff;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 5px;
}

.bubble__right {
  position: relative;
  width: 750px;
  height: 300px;
  padding: 40px;
  background: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bubble__right:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent #ffffff;
  display: block;
  width: 0;
  z-index: 1;
  right: -20px;
  top: 12px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-yellow);
  align-items: center;
  position: sticky;
  top: 0%;
}

.navbar__name i {
  color: var(--color-brown);
  padding: 0 8px;
}

.navbar__name {
  font-size: 25px;
  font-weight: 600;
  font-family: var(--font-poppins);
}

.navbar__name img {
  width: 20px;
}

.navbar__name span {
  color: var(--color-brown);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 0 30px;
  color: var(--color-brown);
  font-size: 15px;
  font-family: var(--font-poppins);
}

.navbar__menu__item:hover {
  border: 2px whitesmoke solid;
  border-radius: 5px;
  background-color: var(--color-white);
}

.active {
  border: 2px var(--color-white) solid;
  border-radius: 5px;
  background-color: var(--color-white);
}

/* home */
#home {
  display: flex;
  justify-content: center;
}

.home__banner {
  text-align: center;
  background-color: var(--color-yellow);
  width: 500px;
  height: 600px;
  border-radius: var(--border-radius);
  margin: 50px auto;
}

.profile {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__banner h1 {
  border-top: 3px solid var(--color-white);
  padding-top: 20px;
  color: var(--color-brown);
  font-size: 50px;
  font-family: var(--font-poppins);
}

.home__banner p {
  font-size: 20px;
  color: var(--color-brown);
  font-family: var(--font-poppins);
  margin: 0 10px;
}

.home__banner button {
  margin-top: 30px;
  font-size: 20px;
  font-family: var(--font-poppins);
  padding: 8px 12px;
  border: 2px solid var(--color-brown);
}

.home__banner button:hover {
  background-color: var(--color-white);
}

/* about */

.about__profile {
  display: flex;

}

.about__profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px;
}

.about__description {
  margin-left: 25px;
  font-size: 16px;
  font-family: var(--font-poppins);;
}

#skills {
  display: flex;
  justify-content: right;
  margin-top: 50px;
}

.skills__profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px;
}

.skills__description {
  text-align: center;
}

.skills__description p {
  font-size: 20px;
  font-family: var(--font-poppins);
}

.skills__description ul {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}

.bubble__right {
  margin-top: 10px;
  margin-right: 10px;
}


.skills__icon {
  color: var(--color-yellow);
  transition: all 300ms ease;
}

.skills__icon:hover {
  color: var(--color-brown);
  transform: rotate(30deg) scale(1.1);
  display: block;
}
