body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

#home img {
  width: 300px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(136, 165, 219);
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar__name a img {
  width: 30px;
  padding-right: 10px;
  box-sizing: content-box;
}

.navbar__name {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins";
}

.navbar__name img {
  width: 20px;
}

.navbar__name span {
  color: white; 
}

.navbar__menu {
  display: flex;
}


.navbar__menu__item {
  padding: 0 30px;
  color: whitesmoke;
  font-size: 15px;
  font-family: "Poppins";
}

.navbar__menu__item:hover {
  border: 2px whitesmoke solid;
  border-radius: 5px;
}

.active {
  border: 2px whitesmoke solid;
  border-radius: 5px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.home__thumbnail {
  border-radius: 50%;
  width: 100px;
  height: 200px;
  margin-top: 20px;
}

.home__title {
  font-size: 50px;
  font-family: "Poppins";
  
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

#home h1 {
  margin: 0px;
}

.home__description {
  font-family: "Poppins";
  font-size: 18px;
}

.home__contact {
  background-color: pink;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  border-radius: 10px;
}
